.divider {
  border-bottom: 1px solid var(--border);
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: clamp(2rem, 3vw + 1rem, 5rem) 0;
}
